/.vscode
/1.php
/admin
/admin-dashboard
/backend
/new
/node_modules
/package-lock.json
/package.json
/t.php
/test.js
/test11.php
/test2.html
/test3.html
/test4.html
/test5.html
/test6.php
/Theme
/Theme - สำเนา